.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-container {
  zoom: 1
}

.carousel-container:after {
  content: ' ';
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

.carousel-container .carousel-item {
  float: left;
}
